{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
   <link rel="stylesheet" href="{% static 'css/output.css' %}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/css/v4-shims.min.css" integrity="sha512-p++g4gkFY8DBqLItjIfuKJPFvTPqcg2FzOns2BNaltwoCOrXMqRIOqgWqWEvuqsj/3aVdgoEo2Y7X6SomTfUPA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="md:w-[90vw] w-[98vw] mx-auto">
    {% include 'partials/nav.html' %}
    <div class="relative flex items-start w-full h-full">
        {% block content %}
        {% endblock %}
        {% if side %}
            {% include 'partials/side.html' %}
        {% endif %}
        
    </div>
    <script src="{% static 'js/header.js' %}"></script>
</body>
</html>